:root {
    /* Primary color*/
    --Primary-50: #FCFAFC;
    --Primary-100: #F3ECF3;
    --Primary-200: #E5D8E7;
    --Primary-300: #D4BED7;
    --Primary-400: #C2A2C6;
    --Primary-500: #AE84B3;
    --Primary-600: #9C68A2;
    --Primary-700: #8B4E92;
    --Primary-800: #7D3A86;
    --Primary-900: #742C7D;
    --Primary-950: #71277A;

    /* Secundary color*/
    --Secondary-50: #FBFEFF;
    --Secondary-100: #F0FDFE;
    --Secondary-200: #DFFAFE;
    --Secondary-300: #CAF7FD;
    --Secondary-400: #B3F4FC;
    --Secondary-500: #9CF0FC;
    --Secondary-600: #85EDFB;
    --Secondary-700: #70EAFA;
    --Secondary-800: #5FE7FA;
    --Secondary-900: #54E6F9;
    --Secondary-950: #50E5F9;

    /*Tertiary color*/
    --Tertiary-50: #F9FAFB;
    --Tertiary-100: #F0FDFE;
    --Tertiary-200: #F0FDFE;
    --Tertiary-300: #B2C1CA;
    --Tertiary-400: #91A6B2;
    --Tertiary-500: #6E899A;
    --Tertiary-600: #4D6E82;
    --Tertiary-700: #2F566D;
    --Tertiary-800: #16425D;
    --Tertiary-900: #063551;
    --Tertiary-950: #00304D;

    /*Quaternary color*/
    --Quaternary-50: #F5FAF2;
    --Quaternary-100: #E1F2D8;
    --Quaternary-200: #CDE9BF;
    --Quaternary-300: #B9E0A5;
    --Quaternary-400: #A5D88C;
    --Quaternary-500: #92CF72;
    --Quaternary-600: #7EC759;
    --Quaternary-700: #6ABE3F;
    --Quaternary-800: #56B526;
    --Quaternary-900: #42AD0C;
    --Quaternary-950: #39A900;

    /*Quinary color*/
    --Quinary-50: #ECF5F0;
    --Quinary-100: #D7EADF;
    --Quinary-200: #BDDCCA;
    --Quinary-300: #9FCCB2;
    --Quinary-400: #80BC99;
    --Quinary-500: #60AB7F;
    --Quinary-600: #429B67;
    --Quinary-700: #288D52;
    --Quinary-800: #138241;
    --Quinary-900: #057B36;
    --Quinary-950: #007832;

    /*Senatorial color*/
    --Senatorial-50: #FEFDF8;
    --Senatorial-100: #FEF9E6;
    --Senatorial-200: #FEF2CC;
    --Senatorial-300: #FEECB3;
    --Senatorial-400: #FEE599;
    --Senatorial-500: #FEDD80;
    --Senatorial-600: #FED666;
    --Senatorial-700: #FEC74D;
    --Senatorial-800: #FDC833;
    --Senatorial-900: #FDC11A;
    --Senatorial-950: #FDC300;

    /*Neutrals color*/
    --Neutrals-50: #FFFFFF;
    --Neutrals-100: #000000;
    --Neutrals-200: #181818;
    --Neutrals-300: #242424;
    --Neutrals-400: #3D3D3D;
    --Neutrals-500: #878787;
    --Neutrals-600: #9F9F9F;
    --Neutrals-700: #B8B8B8;
    --Neutrals-800: #D1D1D1;
    --Neutrals-900: #E9E9E9;
    --Neutrals-950: #F6F6F6;

    /*Font-family*/
    --main-font: Work Sans, Helvetica, Arial;
    --secundary-font: Calibri, Helvetica, Arial;

    /*Font weights crudos*/
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /*Font variants*/
    --regular-variant: regular;
    --medium-variant: medium;
    --semi-bold-variant: semi-bold;

    
    --fs-xxxxl: 5rem; /*Ultra Grande*/
    --fs-xxxl: 4rem; /*Super Grande*/
    --fs-xxl: 3rem; /*Extra Grande*/
    --fs-xl: 2.5rem; /*Muy Grande*/
    --fs-lg: 2rem; /*Grande*/
    --fs-md: 1.5rem; /*Mediano*/
    --fs-sm: 1.25rem; /*Pequeño*/
    --fs-xs: 1rem; /*Base*/
    --fs-xxs: 0.875rem; /*Muy pequeño 14px*/
    --fs-xxxs: 0.75rem; /*Extra extra pequeño 12px*/
    --fs-xxxs: 0.5rem; /*Minimo 8px*/

}

